html,
body {
    height: 100%;
}

body {
    margin: 0;
}

header {
    color: white;
    background-color: black;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 0 10px;
    display: inline-block;
}

.div{
    padding:150px 600px;
}
   .class1{
    transform: rotate(360deg);
    transition-duration: 5s;
    
   
    }

    
    
    
  

